button.plus-button {
    flex: 1;
    border: 1px solid #ccc;
    font-size: 150%;
    margin: 12px;
    cursor: pointer;
    max-width: 50px;
  }
  
  button.plus-button:hover {
    background-color: #eee;
}